.mainBody.du-mobile .header .wrapper {
    position: absolute;
    top: 50px;
    left: 15px;
}

.mainBody.du-mobile .header .divider {
    display: none;
}

.mainBody.du-mobile .recent,
.mainBody.du-mobile .progress,
.mainBody.du-mobile .skills,
.mainBody.du-mobile .about {
    padding: 25px 0;
}

.mainBody.du-mobile .recent .text-heading,
.mainBody.du-mobile .progress .text-heading,
.mainBody.du-mobile .skills .text-heading,
.mainBody.du-mobile .about .text-heading {
    margin: 0 0 25px 0;
}

.mainBody.du-mobile .about .container {
    width: 100%;
    flex-direction: column;
}

.mainBody.du-mobile .about .column {
    width: 95%;
    max-width: 325px;
}

.mainBody.du-mobile .about .description {
    padding: 10px;
    font-size: 15px;
}

.mainBody.du-mobile .about .description span {
    font-size: 60px;
}

.mainBody.du-mobile .skills .column.bars {
    height: 100%;
    width: 95%;
    max-width: 325px;
    margin: 0 auto 25px;
}

.mainBody.du-mobile .skills .bars ul {
    flex-direction: column;
    flex-wrap: nowrap;
}

.mainBody.du-mobile .skills .bars li {
    width: 100%;
    margin: 10px auto;
}

.mainBody.du-mobile .skills .bars .text {
    font-size: 14px;
}

.mainBody.du-mobile .skills .icon-wrapper {
    width: 25%;
}

.mainBody.du-mobile .skills .progress-bar {
    width: 60%;
}

.mainBody.du-mobile .skills .column.tools {
    height: 100%;
    width: 95%;
    max-width: 325px;
    margin: 0 auto;
}

.mainBody.du-mobile .skills .column.tools ul {}

.mainBody.du-mobile .skills .column.tools li {
    padding: 4% 2%;
    width: 22%;
    margin: 0 auto;
}

.mainBody.du-mobile .skills .column.tools .text {
    font-size: 14px;
}


.mainBody.du-mobile .progress .steps-container::before {
    display: none;
}

.mainBody.du-mobile .progress .steps-container .point-circle {}

.mainBody.du-mobile .progress .steps-container .date {
    margin-top: 75px;
}

.mainBody.du-mobile .progress .steps-container .desc-box {
    display: block;
    float: none;
    width: 95%;
    max-width: 325px;
    padding: 0;
    margin: 0 auto;
}

.mainBody.du-mobile .group {
    margin: 0 auto;
}

.mainBody.du-mobile .progress .steps-container .group-left .desc-box {
    float: none;
}

.mainBody.du-mobile .progress .steps-container .group-left .date {
    text-align: left;
}

.mainBody.du-mobile .progress .steps-container .group-left h4,
.mainBody.du-mobile .progress .steps-container .group-left .sub-title,
.mainBody.du-mobile .progress .steps-container .group-left p {
    text-align: left;
}

.mainBody.du-mobile .progress .steps-container h4,
.mainBody.du-mobile .progress .steps-container .date {
    font-size: 16px;
}

.mainBody.du-mobile .progress .steps-container .sub-title,
.mainBody.du-mobile .progress .steps-container p {
    font-size: 14px;
}

.mainBody.du-mobile .recent ul {}

.mainBody.du-mobile .recent li {
    width: 100%;
    opacity: .75;
}