.du-mobile .main{
	max-width: 300px;
	margin: 25px auto;
	padding: 0;
}
.du-mobile #header{
	padding: 0 0 150px;
}
.du-mobile .logo{
	font-size: 42px;
	margin: 25px 0 0;
}
.du-mobile .wrapper-holder.home{
	background-size: 290px;
    background-position-y: 160px;
}

.du-mobile .about .title{
	font-size: 22px;
	margin: 25px auto;
}
.du-mobile .about .desc{
	width: 95%;
	margin: 0 auto 25px;
}

.du-mobile .exp h2{
	margin: 40px 0;
}
.du-mobile .exp .main{
	top: 0;
	box-shadow: 0px 0px 0px;
	border-radius: 0;
	width: 100%;
	margin: 0 auto;
}
.du-mobile .exp .box_timeline ul li{
	margin: 0;
}
.du-mobile .exp .box_timeline,
.du-mobile .exp .box_timeline_holder{
	background: none;
	padding: 0;
	width: 100%;
}
.du-mobile .exp .box_timeline ul li{
	width: 100%;
}
.du-mobile .skills .progress{
	max-width: 300px;
}
.du-mobile .skills p{
	max-width: 300px;
}
.du-mobile .skills h2{
	font-size: 25px;
}
.du-mobile .skills_holder .column.column-add{
	float: none;
}

.du-mobile .work .sub{
	margin: 0 0 25px;
}
.du-mobile .work .item-list{
	margin: 0 auto;
}
.du-mobile .work .item-list li{
	margin: 10px auto;
}
.du-mobile .work .item{
	width: 100%;
}

.du-mobile .footer .images_holder{
	width: 275px;
	float: none;
	margin: 0 auto;
}
.du-mobile .footer .box_contact span{
	font-size: 14px;
	margin-bottom: 5px;
	padding: 5px 0 20px 70px;
}