html,
body {
    margin: 0;
    padding: 0;
}

.rb-grid {
    list-style: none;
    text-align: center;
    margin: 0 auto;
}

.rb-grid li {}

.rb-grid li.rb-span-2 {
    width: 49%;
}

.rb-grid li.rb-span-4 {
    width: 99%;
}

.rb-grid li h3 {
    font-size: 2.6em;
    font-weight: 100;
}

.rb-grid li[class^="icon-"]:before,
.rb-grid li[class*=" icon-"]:before {
    font-size: 10em;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    line-height: 3;
    opacity: 0.4;
    text-align: right;
    pointer-events: none;
}

.rb-temp {
    display: block;
    font-size: 2em;
    opacity: 0.5;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.rb-grid li:hover .rb-temp {
    opacity: 1;
}

.rb-close {
    position: absolute;
    top: 1em;
    right: 2.5em;
    width: 2em;
    height: 2em;
    cursor: pointer;
    z-index: 1000;
    background: RGBA(0, 0, 0, .25);
}

.rb-close::before {
    content: 'x';
    font-weight: 100;
    color: #fff;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 3em;
    line-height: 0.6;
    text-align: center;
    text-indent: 0px;
}

.rb-overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: -1;
    cursor: default;
}

.rb-display {
    width: 100%;
    height: 100%;

    position: relative;
    overflow-y: scroll;
}

.rb-display .overlay-header {
    width: 100%;
    height: auto;
    margin: 0 auto;
    -webkit-mask-image: linear-gradient(to bottom, black 25%, transparent 40%);
    mask-image: linear-gradient(to bottom, black 25%, transparent 40%);
    position: absolute;
    top: 0;
    left: 0;
}

.rb-display .overlay-summary {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 1001;

    background: url("../imgs/background/2k_stars.jpg") no-repeat center center;
    background-attachment: fixed;
}

.rb-display .overlay-container {
    width: 75%;
    padding-top: 25px;
    margin: 0 auto;
    position: relative;
    z-index: 1001;
}

.rb-display .overlay-content {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 1001;

    background: url("../imgs/background/2k_stars_white.jpg") no-repeat center center;
    background-attachment: fixed;
}

.rb-display .overlay-summary .text-heading {
    margin-bottom: 50px;
}

.rb-display .overlay-summary .languages {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.rb-display .overlay-summary .languages li {
    color: RGBA(0, 0, 0, 1);
    background: RGBA(255, 255, 255, 1);
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.rb-display .overlay-summary .overlay-links {
    margin: 10px auto;
    color: #fff;

}

.rb-display .overlay-summary .overlay-links .preview-link {
    position: relative;
    z-index: 10000;
    padding: 10px 10px 5px;
    font-size: 22px;
    display: inline-block;
    font-weight: bold;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid RGBA(255, 255, 255, 0);
}

.rb-display .overlay-summary .overlay-links .preview-link:hover {
    border-bottom: 1px solid RGBA(255, 255, 255, .25);
}

.rb-display .overlay-content .overlay-description {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    list-style-type: none;
}

.rb-display .overlay-summary .overlay-description-item,
.rb-display .overlay-content .overlay-description-item {
    width: 100%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.rb-display .overlay-summary .overlay-text {
    height: 100%;

    color: #fff;
    padding: 10px;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    text-align: center;
    width: 75%;
    font-size: 25px;
    font-weight: normal;
}

.rb-display .overlay-summary .overlay-description-item {
    padding-bottom: 20px;
    margin: 10px auto 0;
}

.rb-display .overlay-content .overlay-text.text-right {
    text-align: right;
}

.rb-display .overlay-content .overlay-text.text-left {
    text-align: left;
}

.rb-display .overlay-content .overlay-text {
    width: 48%;
    height: 100%;

    color: #fff;
    padding: 10px;
    font-size: 20px;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: lighter;
}

.rb-display .overlay-content .overlay-preview {
    width: 48%;
    height: 100%;
}

.rb-display .overlay-content .overlay-preview img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


/* Colors */
@media screen and (max-width: 63.125em) {

    .rb-grid li,
    .rb-grid li.rb-span-2,
    .rb-grid li.rb-span-4 {
        width: 100%;
        height: 10em;
        text-align: left;
    }

    .rb-grid li[class^="icon-"]:before,
    .rb-grid li[class*=" icon-"]:before {
        font-size: 6em;
        left: auto;
        right: 0;
        line-height: 2.5;
    }

    .rb-grid li>div {
        text-align: center;
    }
}