html, body{
    margin: 0;
    padding: 0;
}

.navbar{
    display: none;
    width: 100%;
    height: 100px;
    padding: 0 25%;
}
.header{
    width: 100%;
    height: 750px;
    background: #e8e8ea;
}
.canvas{
    width: 100%;
    height: 100%;
}