html,
body {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 25px;
    right: 25px;
    width: auto;
    height: 25px;

    z-index: 100;
}

.navbar a {
    color: #fff;

    margin: 0 25px;
    font-family: "Avenir Book", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    line-height: 1.7em;
}

.navbar a:hover {
    color: RGBA(255, 255, 255, .5);
}

.header {
    width: 100%;
    height: 1000px;
    background: #e8e8ea;
    position: relative;
}

.header #spaceTHREE {
    width: 100%;
    height: 100%;
    position: relative;
}

.header canvas {
    background: url("../imgs/2k_stars.jpg") no-repeat center center;

    background-attachment: fixed;
}

.header .wrapper {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 300px;
    height: 280px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header .divider {
    width: 4px;
    height: 100%;
    margin-right: 25px;
}

.header .divider div {
    display: none;
    width: 100%;
    height: 100%;
    background: RGBA(255, 255, 255, .75);
}

.header .container {
    height: 95%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.header .text-heading {
    color: #fff;
    text-align: left;
    font-size: 60px;
    margin: 0;
}

.header .text {
    color: #fff;
    text-align: left;
    font-size: 24px;
    font-family: "Avenir Book", Helvetica, Arial, sans-serif;
}

.header ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin: 0;
    padding: 0;
}

.header li {
    padding: 0 20px 0 0;
}

.header img {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.canvas {
    width: 100%;
    height: 100%;
}

.text-heading {
    width: 100%;
    color: black;
    font-size: 45px;
    color: #fff;
    text-shadow: 3px 3px 2px RGBA(0, 0, 0, .25);
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    line-height: 1.05;
    margin: 0 0 75px 0;
}

.about {
    background: url("../imgs/2k_stars_white.jpg") no-repeat center center;

    background-attachment: fixed;
    width: 100%;
    padding: 75px 0;
}

.about .container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.about .column {
    height: 100%;
    width: 40%;
    display: block;
}

.about .description {
    padding: 50px;
    border: 1px solid RGBA(255, 255, 255, .4);
    font-size: 18px;
    color: #fff;
    font-family: "Avenir Book", Helvetica, Arial, sans-serif;
    line-height: 1.2;
}

.about .description span {
    float: left;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-size: 65px;
    line-height: 1;
    padding: 0 15px 5px 0;
    margin-top: -7px;
    color: RGBA(255, 255, 255, .6);
}

.about .description span {
    font-size: 70px;
    padding: 0 10px 0 0;
}

.about .hobbies .icon-wrapper {
    height: 100%;
    width: 100%;
}

.about .hobbies .icon-wrapper img {
    height: 100%;
    width: 100%;
}

.skills {
    background: url("../imgs/2k_stars_white.jpg") no-repeat center center;

    background-attachment: fixed;
    width: 100%;
    padding: 75px 0;
}

.skills .wrapper {
    max-width: 1100px;
    min-height: 666px;
    width: 100%;
    margin: 0 auto;
}

.skills .text {
    font-family: "Avenir Book", Helvetica, Arial, sans-serif;
}

.skills .column.bars {
    display: none;
    height: 225px;
    width: 90%;
    margin: 0 auto 75px;
}

.skills .bars ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    color: RGBA(255, 255, 255, .6);
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.skills .bars li {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .icon-wrapper {
    height: 100%;
    width: 17%;
}

.skills .bars img {
    max-width: 50px;
    max-height: 55px;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    margin: 0 auto;
    display: block;
}


.skills .bars .text {
    width: 100%;
    text-align: center;
}

.skills .progress-bar {
    display: block;
    width: 70%;
    height: 25px;
    border: 1px solid RGBA(255, 255, 255, .5);
    border-radius: 10px;

    position: relative;
    overflow: hidden;
}

.skills .progress-bar .progress-amount {
    width: 0%;
    height: 100%;
    background: #fff;
}

.skills .text.counter {
    width: 10%;
    font-size: 18px;
    color: #fff;
}

.skills .column.tools {
    display: none;

    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.skills li .text {
    font-size: 15px;
}

.skills .tools ul {
    display: flex;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    color: RGBA(255, 255, 255, .6);
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.skills .tools li {
    width: 15%;
    margin: 0 auto;
    max-width: 100px;
    padding: 20px 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills .tools img {
    max-width: 50px;
    max-height: 55px;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}

.skills .tools .text {
    width: 100%;
    text-align: center;
}

.progress {
    background: #ececee;
    width: 100%;
    height: 100%;
    padding: 75px 0;

    background: url("../imgs/background/2k_stars.jpg") #000;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.progress .container {
    max-width: 1000px;
    min-height: 1299px;
    height: 100%;
    margin: 0 auto;
}

.progress .text-heading {
    color: #fff;
}

.progress .steps-container {
    display: none;
    position: relative;
    overflow: hidden;
    margin: 0;
}

.progress .steps-container::before {
    position: absolute;
    content: "";
    left: 49.9%;
    height: 600em;
    z-index: 1;
    width: 1px;
    background: RGBA(255, 255, 255, .5);
    display: table;
    overflow: hidden;
}

.group {
    display: none;
    position: relative;
    height: 100%;
    width: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix {
    overflow: auto;
}

.clearfix::before {
    content: "";
    clear: both;
    display: table;
}


.progress .steps-container h4 {
    font-family: "Avenir light", Helvetica, Arial, sans-serif;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
}

.progress .steps-container .desc-box .sub-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.progress .steps-container .sub-title,
.progress .steps-container p {
    font-family: "Avenir", sans-serif;
    text-align: left;
    display: block;
    margin: 0;
    color: #cccccc
}

.progress .steps-container .date {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    /*#FFD500;*/
    font-weight: bold;

    font-family: "Avenir", sans-serif;
    letter-spacing: 1px;
}

.progress .steps-container .point-circle {
    display: none;
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15px;
    border-radius: 100%;

    background: url("../imgs/icons/sprite.png") no-repeat scroll top left #000;
    background-size: auto 210%;
    background-position: 0 0;
    z-index: 1;

    -webkit-animation: rotating 15s linear infinite;
    -moz-animation: rotating 15s linear infinite;
    -ms-animation: rotating 15s linear infinite;
    -o-animation: rotating 15s linear infinite;
    animation: rotating 15s linear infinite;
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.progress .steps-container .position-1 .point-circle {
    background-position: 0 0;
}

.progress .steps-container .position-2 .point-circle {
    background-position: -56px 0;
}

.progress .steps-container .position-3 .point-circle {
    background-position: -112px 0;
}

.progress .steps-container .position-4 .point-circle {
    background-position: -168px 0;
}

.progress .steps-container .position-5 .point-circle {
    background-position: 0px -57px;
}


.progress .steps-container .desc-box {
    display: block;
    height: 100%;
    border-radius: 15px;
    float: right;
    width: 40%;
    padding: 15px 25px 15px 25px;
    position: relative;
    letter-spacing: 1px;
}

.progress .steps-container .group-left .desc-box {
    float: left;
}

.progress .steps-container .group-left .date {
    width: 100%;
    text-align: right;
}

.progress .steps-container .group-left h4,
.progress .steps-container .group-left .sub-title,
.progress .steps-container .group-left p {
    text-align: right;
}

.recent {
    width: 100%;
    height: 100%;
    padding: 0 0 75px;

    background: url("../imgs/background/2k_stars.jpg") #000;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.recent .container {
    height: 100%;
    margin: 0 auto;
}

.recent .text-heading {
    color: #fff;
    margin-bottom: 75px;
}

.recent .rb-grid {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.recent .rb-item {
    cursor: pointer;
    position: relative;
    width: 33%;
    height: auto;
    overflow: hidden;
    opacity: 0.25;
    margin-bottom: .5%;
}

.recent .rb-item:hover {
    opacity: 1;

    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .3s;
}

.recent .rb-item:hover img {
    transform: scale(1.2);

    animation-name: scaleAnimation;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 10s;
}

@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

@keyframes fadeInOpacity {
    0% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

.recent img {
    height: auto;
    width: 100%;
    vertical-align: middle;
    transform: scale(1);
}

.recent .heading {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: #fff;
    margin: 20% 0 25px;
}

.recent .sub-text {
    font-family: "Avenir Book", Helvetica, Arial, sans-serif;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.footer {
    background: url("../imgs/2k_stars.jpg") no-repeat center center;

    background-attachment: fixed;

    width: 100%;
    padding: 15px 0;
}

.footer .wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 850px;

    position: relative;
}

.footer .copyright {
    text-align: center;
    color: #fff;
    font-family: "Avenir Book", Helvetica, Arial, sans-serif;
    font-size: 18px;
    position: relative;
}

.footer .social-icons a {
    display: inline-block;
    padding: 10px;
    position: relative;
    z-index: 2;
}

.footer .social-icons a:hover {
    top: -5px;
    cursor: pointer;

    animation-name: topAnimation;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .075s;
}


@keyframes topAnimation {
    0% {
        top: 0;
    }

    100% {
        top: -5px;
    }
}

.footer .social-icons img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    overflow: hidden;
}

.about,
.skills,
.progress {
    display: block;
}