html,
body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: none;
    width: 100%;
    height: 100px;
    padding: 0 25%;
}

.header {
    width: 100%;
    height: 1000px;
    background: #e8e8ea;
    position: relative;
}

.header #spaceTHREE {
    width: 100%;
    height: 100%;
    position: relative;
}

.header canvas {
    background: url("../imgs/2k_stars.jpg") no-repeat center center;

    background-attachment: fixed;
}

.header .wrapper {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 300px;
    height: 480px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header .divider {
    width: 4px;
    height: 100%;
    margin-right: 25px;
}

.header .divider div {
    display: none;
    width: 100%;
    height: 100%;
    background: RGBA(255, 255, 255, .75);
}

.header .container {
    height: 95%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.header .text-heading {
    color: #fff;
    text-align: left;
    font-size: 60px;
    margin: 0;
}

.header .text {
    color: #fff;
    text-align: left;
    font-size: 24px;
    font-family: "Avenir Book", Helvetica, Arial, sans-serif;
}

.header ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin: 0;
    padding: 0;
}

.header li {
    padding: 0 20px 0 0;
}

.header img {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.header .description {
    font-size: 15px;
    color: #fff;
    font-family: "Avenir Book", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    margin: 20px 0;
}

.canvas {
    width: 100%;
    height: 100%;
}

.text-heading {
    width: 100%;
    color: black;
    font-size: 45px;
    color: #fff;
    text-shadow: 3px 3px 2px RGBA(0, 0, 0, .25);
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    line-height: 1.05;
    margin: 0 0 75px 0;
}

.about {
    background: #a84a69;
    /* Old browsers */
    background: -moz-linear-gradient(top right, #a84a69 0%, #e17563 33%, #ffb25b 66%, #f9f871 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top right, #a84a69 0%, #e17563 33%, #ffb25b 66%, #f9f871 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top right, #a84a69 0%, #e17563 33%, #ffb25b 66%, #f9f871 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a84a69', endColorstr='#f9f871', GradientType=0);
    /* IE6-9 */

    width: 100%;
    padding: 75px 0;
}

.about .wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.about .text {
    font-family: "Avenir Book", Helvetica, Arial, sans-serif;
}

.about .column.bars {
    height: 225px;
    width: 90%;
    margin: 0 auto 75px;
}

.about .bars ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    color: RGBA(255, 255, 255, .6);
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.about .bars li {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about .icon-wrapper {
    height: 100%;
    width: 17%;
}

.about .bars img {
    max-width: 50px;
    max-height: 55px;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    margin: 0 auto;
    display: block;
}


.about .bars .text {
    width: 100%;
    text-align: center;
}

.about .progress-bar {
    display: block;
    width: 70%;
    height: 25px;
    border: 1px solid RGBA(255, 255, 255, .5);
    border-radius: 10px;

    position: relative;
    overflow: hidden;
}

.about .progress-bar .progress-amount {
    width: 0%;
    height: 100%;
    background: #fff;
}

.about .text.counter {
    width: 10%;
    font-size: 18px;
    color: #fff;
}

.about .column.tools {
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.about li .text {
    font-size: 15px;
}

.about .tools ul {
    display: flex;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    color: RGBA(255, 255, 255, .6);
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.about .tools li {
    width: calc(100% / 8);
    max-width: 100px;
    padding: 20px 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about .tools img {
    max-width: 50px;
    max-height: 55px;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}

.about .tools .text {
    width: 100%;
    text-align: center;
}

.progress {
    background: #ececee;
    width: 100%;
    height: 100%;
    padding: 75px 0;

    background: url("../imgs/background/2k_stars.jpg") #000;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.progress .container {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.progress .text-heading {
    color: #fff;
}

.progress .steps-container {
    position: relative;
    overflow: hidden;
    margin: 0;
}

.progress .steps-container::before {
    position: absolute;
    content: "";
    left: 49.9%;
    height: 600em;
    z-index: 1;
    width: 1px;
    background: RGBA(255, 255, 255, .5);
    display: table;
}

.group {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix {
    overflow: auto;
}

.clearfix::before {
    content: "";
    clear: both;
    display: table;
}


.progress .steps-container h4 {
    font-family: "Avenir light", Helvetica, Arial, sans-serif;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
}

.progress .steps-container .desc-box .sub-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.progress .steps-container .sub-title,
.progress .steps-container p {
    font-family: "Avenir", sans-serif;
    text-align: left;
    display: block;
    margin: 0;
    color: #cccccc
}

.progress .steps-container .date {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    /*#FFD500;*/
    font-weight: bold;

    font-family: "Avenir", sans-serif;
    letter-spacing: 1px;
}

.progress .steps-container .point-circle {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15px;
    border-radius: 100%;

    background: url("../imgs/icons/sprite.png") no-repeat scroll top left #000;
    background-size: auto 210%;
    background-position: 0 0;
    z-index: 1;

    -webkit-animation: rotating 15s linear infinite;
    -moz-animation: rotating 15s linear infinite;
    -ms-animation: rotating 15s linear infinite;
    -o-animation: rotating 15s linear infinite;
    animation: rotating 15s linear infinite;
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.progress .steps-container .position-1 .point-circle {
    background-position: 0 0;
}

.progress .steps-container .position-2 .point-circle {
    background-position: -56px 0;
}

.progress .steps-container .position-3 .point-circle {
    background-position: -112px 0;
}

.progress .steps-container .position-4 .point-circle {
    background-position: -168px 0;
}

.progress .steps-container .position-5 .point-circle {
    background-position: 0px -57px;
}


.progress .steps-container .desc-box {
    display: block;
    height: 100%;
    border-radius: 15px;
    float: right;
    width: 40%;
    padding: 15px 25px 15px 25px;
    position: relative;
    letter-spacing: 1px;
}

.progress .steps-container .group-left .desc-box {
    float: left;
}

.progress .steps-container .group-left .date {
    width: 100%;
    text-align: right;
}

.progress .steps-container .group-left h4,
.progress .steps-container .group-left .sub-title,
.progress .steps-container .group-left p {
    text-align: right;
}

.recent {
    width: 100%;
    height: 100%;
    padding: 0;

    background: url("../imgs/background/2k_stars.jpg") #000;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.recent .container {
    height: 100%;
    margin: 0 auto;
}

.recent .text-heading {
    color: #fff;
    margin-bottom: 75px;
}

.recent ul {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between
}

.recent li {
    position: relative;
    width: 33%;
    height: 100%;
    overflow: hidden;
    margin-bottom: .5%;
    overflow: hidden;
}

.recent img {
    height: 100%;
    width: 100%;
}

.recent .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    opacity: 0;

    width: 80%;
    height: 100%;
    background: RGBA(0, 0, 0, .75);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 0 10%;
}

.recent li:hover .overlay {
    cursor: pointer;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .175s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.recent .heading {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: #fff;
    margin: 20% 0 25px;
}

.recent .sub-text {
    font-family: "Avenir Book", Helvetica, Arial, sans-serif;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.footer {
    background: #a84a69;
    /* Old browsers */
    background: -moz-linear-gradient(top right, #a84a69 0%, #e17563 33%, #ffb25b 66%, #f9f871 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top right, #a84a69 0%, #e17563 33%, #ffb25b 66%, #f9f871 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top right, #a84a69 0%, #e17563 33%, #ffb25b 66%, #f9f871 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a84a69', endColorstr='#f9f871', GradientType=0);
    /* IE6-9 */

    width: 100%;
    padding: 35px 0;
}

.footer .wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    max-width: 850px;
}

.footer .copyright {
    text-align: center;
    color: #fff;
    font-family: "Avenir Book", Helvetica, Arial, sans-serif;
    font-size: 18px;
    position: relative;
}

.footer .social-icons a {
    display: inline-block;
    padding: 10px;
    position: relative;
    z-index: 2;
}

.footer .social-icons a::before {
    border-radius: 25%;
    opacity: 0.35;
    content: '';
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 110%;
    height: 50%;
    -webkit-transform: rotateX(-65deg) rotateY(-15deg) rotateZ(60deg);
    transform: rotateX(-65deg) rotateY(-15deg) rotateZ(60deg);
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.4)), to(transparent));
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.4), transparent);
    z-index: -1;
}

.footer .social-icons img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    overflow: hidden;
}